.wrapper {
    display: flex;
    justify-content: center;
}

.panel {
    width: 90%;
    margin-top: -4.5rem;
    padding: 2rem 1rem;
    border-radius: 8px;
    background-color: var(--white);
}

.actions {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
}

.actions button {
    padding: 0.8rem 1.1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: medium;
    border: none;
}

.action-back {
    background: none;
    color: var(--cool-gray);
    font-weight: bold;
}

.action-next {
    background-color: var(--marine-blue);
    color: var(--white);
    border-radius: 4px;
}

.action-next:hover {
    background-color: hsl(213, 96%, 28%);
}