.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.3rem 0.4rem;
}

.icon {
    background-image: url('../../../assets/images/icon-thank-you.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0.5rem;
    width: 80%;
    height: 80px;
    transform: scale(0.6);
}

.text {
    text-align: center;
}

.info-head {
    margin-bottom: 0.8rem;
    color: var(--marine-blue);
    font-size: 1.3rem;
    font-weight: bold;
}

.info {
    font-size: 0.9rem;
    color: var(--cool-gray);
    line-height: 1.5rem;
}